/* .App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  border-color: blue solid 2px;
  background-color: aqua;
}

.operators {
  display: grid;
  border-radius: 50%;
} */

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: "Quicksand";
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
}

.number {
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 1rem;
  min-width: 2rem;
  height: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25%;
}

.operators {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: 12.5%;
  background-color: #f0f0f0;
  padding: 10px;
  overflow: hidden;
}

.operator {
  width: 100%;
  height: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25%;
}

.operator:hover {
  background-color: #0056b3;
}
